* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: goldenrod;
  display: flex;
  flex-direction: column;

}

#grid {
  display: grid;
  background-color: white;
  width: 80vh;
  height: 80vh;
}

#middleBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sidebars{
  border: 1px solid black;
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-basis: 15%;
}

#colorBtns {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.colorBtn {
  height: 15%;
}

#black{
  background: black;
  color: white;
}

#blue{
  background: blue;
}
#red{
  background: red;
}
#rainbow{
  background-color: #efd002;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
);
}

#reset {
  padding: 10px;
  margin: 2vh;
  align-self: center;
}

h1 {
  padding: 2vh;
  align-self: center;
}

h2{
  align-self: center;
}